body {
    margin: 0;
    background-color: #e7e7e7;
}

header {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px; /* Add some horizontal padding */
    gap: 0.75rem;
}

.card {
    background-color: #f1f1f1;
    flex: 0 1 calc(20% - 10px); /* 5 cards per row at maximum */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

@media (max-width: 1080px) {
    .card {
        flex-basis: calc(33.33% - 10px); /* 3 cards per row on medium screens */
    }
}

@media (max-width: 480px) {
    .card {
        flex-basis: calc(50% - 10px); /* 2 cards per row on small screens */
    }
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card div {
    padding: 1rem;
}

.card h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
}

.card p {
    font-size: 1rem;
    margin: 0 0 0.5rem;
}

.button {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    background-color: transparent;
}

.button:hover {
    background-color: #ddd;
    cursor: pointer;
}

input[type="number"] {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: border-color 0.3s ease-in-out;

}

input[type="number"]:focus {
    outline: none;
    border-color: #6f9dfa;
}

#navbar {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 16px;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Segoe UI", Arial, sans-serif;
}

#navbar li a:hover:not(.active) {
    background-color: #111;
}

#navbar form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 16px;
}

#navbar .search {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    background-color: #f5f5f5;
    width: 400px;
}

#navbar .sort {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 0.9rem;
    background-color: #f5f5f5;
}

#navbar .sort-submit {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    padding: 9px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#navbar .search-submit {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#navbar .search-submit:hover, #navbar .sort-submit:hover {
    background-color: #ddd;
}