<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Amazin Bookstore</title>
</head>
<body>
<h1>Add Book View</h1>

<form th:action="@{/owner/{username}/add(username=${username})}" th:object="${book}" th:method="PUT">

  <label for="title">Title:</label>
  <input type="text" id="title" th:field="*{title}" required>

  <label for="author">Author:</label>
  <input type="text" id="author" th:field="*{author}" required>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description" th:value="*{description}" required>

  <label for="publisher">Publisher:</label>
  <input type="text" id="publisher" name="publisher" th:value="*{publisher}" required>

  <input type="submit" value="Add Book">
</form>


<a th:href="@{/owner/{username}(username=${username})}">Return to home page</a>
</body>
</html>