<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Amazing Bookstore</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Welcome to The Amazing Online Bookstore</h1>
<br>

<h3> Log in to the system </h3>
<br>

<form th:action="@{/}" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>
  <input type="submit" value="Login">

  <div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
  </div>
</form>


</body>
</html>