<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amazing Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<table>
    <caption>Search Result: </caption>

    <tr>
        <th> ISBN </th>
        <th> Name </th>
        <th> Author </th>
        <th> Description </th>
        <th> Publisher </th>
    </tr>

    <tr th:each="book : ${books}">
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.description}"></td>
        <td th:text="${book.publisher}"></td>

        <td>
            <form th:action="@{/addToShoppingCart/{bookID}(bookID=${book.isbn})}" th:method="post">
                <input type="hidden" name="bookID" th:value="${book.isbn}" />
                <input type="submit" value="Add to Cart">
            </form>
        </td>

    </tr>
</table>

<br>


<form action="#" th:action="@{/viewShoppingCart}" method="get">
    <p> <input type="submit" value="View Shopping Cart" /></p>
</form>

<form action="#" th:action="@{/userDefaultPage}" method="get">
    <p> <input type="submit" value="Return to Homepage" /></p>
</form>

</body>
</html>