<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amazin Bookstore</title>
</head>
<body>
    <h1>Owner Page View</h1>

    <table>
        <caption>Inventory</caption>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td>
                <form th:action="@{/owner/editBook/{bookID}(bookID=${book.id})}" th:method="GET">
                    <input type="hidden" name="bookID" th:value="${book.id}" />
                    <input type="submit" value="Edit Book">
                </form>
            </td>

        </tr>
    </table>

    <form th:action="@{/owner/addBook}" th:method="GET">
        <input type="submit" value="Add Book">
    </form>

</body>
</html>