<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Bookstore</title>
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<header>
  <h1>Welcome to the Amazing Bookstore</h1>
</header>

<ul id="navbar">
  <li><a th:href="@{/home}">Home</a></li>
  <li><a th:href="@{#}">Recommendations</a></li>
  <li><a sec:authorize="hasAuthority('OWNER')" th:href="@{/owner/add}">Add Book</a></li>

  <li><form th:action="@{/home/search}" method="get">
    <input id="text" name="query" type="text" th:placeholder="Search...">
    <button id="submit" type="submit">Go</button>
  </form></li>

  <li style="float:right;"><a th:href="@{/logout}">Logout</a></li>
  <li style="float:right;"><a th:href="@{#}">View Cart</a></li>
</ul>


<div class="card-container">
  <div th:each="book : ${books}" class="card">
    <img th:src="${book.imageUrl}" alt="Book cover image">
    <div>
      <h5 th:text="${book.title}"></h5>
      <p th:text="${book.author}"></p>
      <p th:text="${book.description}"></p>
      <p th:text="${book.publisher}"></p>
      <p th:text="'In Stock: ' + ${book.stock}"></p>
      <form style="display: inline-block" th:method="POST" th:action="@{/user/cart}">
        <input type="hidden" name="username" th:value="${#authentication.getName()}">
        <input type="hidden" name="bookISBN" th:value="${book.ISBN}">
        <button type="submit" class="button">Add to cart</button>
      </form>
      <a sec:authorize="hasAuthority('OWNER')" class="button" th:href="@{/owner/edit(bookISBN=${book.ISBN})}">Edit book</a>
    </div>
  </div>
</div>

</body>
</html>