<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amazing Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table>
    <caption>Books Purchased: </caption>

    <tr>
        <th> ISBN </th>
        <th> Title </th>
        <th> Author </th>
        <th> Description </th>
        <th> Publisher </th>
    </tr>

    <tr th:each="book : ${books}">
        <td th:text="${book.ISBN}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.description}"></td>
        <td th:text="${book.publisher}"></td>

    </tr>
</table>


<br>

<form action="#" th:action="@{/userDefaultPage}" method="get">
    <p> <input type="submit" value="Return Home" /> </p>
</form>

</body>
</html>