<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Amazing Bookstore</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:inline="text">User: [[${username}]]</h1>
<table>
  <caption>Books in shopping cart: </caption>

  <tr>
    <th> ISBN </th>
    <th> Title </th>
    <th> Author </th>
    <th> Description </th>
    <th> Publisher </th>
    <th>Stock</th>
  </tr>

  <tr th:each="book : ${books}">
    <td th:text="${book.ISBN}"></td>
    <td th:text="${book.title}"></td>
    <td th:text="${book.author}"></td>
    <td th:text="${book.description}"></td>
    <td th:text="${book.publisher}"></td>
    <td th:text="${book.stock}"></td>

    <!--td>
      <form th:action="@{/removeFromShoppingCart/{bookID}(bookID=${book.ISBN})}" th:method="post">
        <input type="hidden" name="bookID" th:value="${book.ISBN}" />
        <input type="submit" value="remove from Cart">
      </form>
    </td-->

  </tr>

</table>

<br>

<!--form action="#" th:action="@{/makePurchase}" method="post">
  <p> <input type="submit" value="Make Purchase" /></p>
</form-->


<form action="#" th:action="@{/user/{username}(username=${username})}" method="get">
  <p> <input type="submit" value="Continue Browsing" /> </p>
</form>

</body>
</html>